body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.bg-gray {
    background-image: url('~@/assets/img/bg-gray.png');
}
.bg-about-normal {
    background-image: url('~@/assets/img/about-normal.png');
}
.bg-about-opacity {
    background-image: url('~@/assets/img/about-opacity.png');
}
.bg-contact-normal {
    background-image: url('~@/assets/img/contact-us-normal.png');
}
.bg-contact-opacity {
    background-image: url('~@/assets/img/contact-us-opacity.png');
}
.bg-product-normal {
    background-image: url('~@/assets/img/our-product-normal.png');
}
.bg-product-opacity {
    background-image: url('~@/assets/img/our-product-opacity.png');
}
.cl-yellow{
    color: rgb(255 184 0);
}
.bg-yellow{
    background-color: rgb(255 184 0);
}
.w-427{
    width: 427px;
}
.w-690{
    width: 690px;
}