.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:nth-child(2n){
        width: 40%;
    }
    &:nth-child(3n){
        width: 20%;
    }
  }
  